<div class="incident modal fade {{$ctrl.show}}">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <div class="modal-title-group">
                    <h6 class="modal-title">Incident</h6>
                    <h4 class="modal-title">{{$ctrl.incident.number}}</h4>
                </div>
                <button type="button" class="close" ng-click="$ctrl.close()">&times;</button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <p class="form-readonly-control">
                                    {{$ctrl.incident.description}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Caller</label>
                                        <p>{{$ctrl.incident.caller_id.display_value}}</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Opened</label>
                                        <p>{{$ctrl.incident.opened_at | shortDate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Urgency</label>
                                        <div class="form-readonly-control">
                                            <span class="badge badge-pill badge-warning">{{$ctrl.incident.urgency}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>State</label>
                                        <div class="form-readonly-control">
                                            <span class="badge badge-pill badge-info">{{$ctrl.incident.state}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="$ctrl.close()">Resolve</button>
            </div>

        </div>
    </div>
</div>