<div class="row">
    <div class="col-md-6 col-lg-5">
        <state-chart-component></state-chart-component>
    </div>
    <div class="col-md-6 col-lg-5 offset-lg-2">
        <opened-at-chart-component></opened-at-chart-component>
    </div>
</div>
<hr class="my-4">
<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="searchBox{{$id}}">&nbsp;</label>
                <input id="searchBox{{$id}}" type="text" class="form-control" placeholder="Search text">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="stateSelect{{$id}}">State</label>
                <select id="stateSelect{{$id}}" class="form-control" ng-options="state as state.name for state in $ctrl.states" ng-model="$ctrl.selectedState" ng-change="$ctrl.onChangeState()"></select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="urgencySelect{{$id}}">Urgency</label>
                <select id="urgencySelect{{$id}}" class="form-control" ng-options="urgency as urgency.name for urgency in $ctrl.urgencys" ng-model="$ctrl.selectedUrgency"
                    ng-change="$ctrl.onChangeUrgency()"></select>
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="white-space: nowrap;">Incident Number</th>
                <th scope="col">Urgency</th>
                <th scope="col">Caller</th>
                <th scope="col">Opened</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="incident in $ctrl.incidents">
                <th scope="row">
                    <a ui-sref="main.incidents.dialog({ sys_id: incident.sys_id })">{{ incident.number }}</a>
                </th>
                <td style="white-space: nowrap;">{{ incident.urgency }}</td>
                <td style="white-space: nowrap;">{{ incident.caller_id.display_value }}</td>
                <td style="white-space: nowrap;">{{ incident.opened_at | shortDate }}</td>
                <td style="white-space: nowrap;">{{ incident.state }}</td>
            </tr>
        </tbody>
    </table>
</div>
<ui-view></ui-view>